*{
  padding: 0;
  margin: 0;
}
.bg{
  border: 10px solid grey;
  /* width: 90%;
  margin: auto;
  margin-top: 20px; */
}
/* .row1{
  width: 100%;
  height: 80px;
} */
/* .col1{
  float: left;
}
.col2{
  float: right;
} */